.repl_history
build
tags
app/pixate_code.rb
app/config/custom.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
vendor/Pods/build-iPhoneOS/
vendor/Pods/build-iPhoneSimulator/
vendor/Pods/.build